body {
    background-color: #ffffff;
    font-family: 'Baloo Bhaina 2', cursive;
  
    overflow-x: hidden;
   
  }
  
  .no-padding {
    padding: 0;
  }
  
  .no-border {
    border: none;
  }
  p, span{
    font-family: 'Baloo Bhaina 2', cursive;
  }

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
