 <!-- Start footer --> 
  <footer id="mu-footer">
  <!-- start footer top -->
    <div class="mu-footer-top">
      <div class="container">
        <div class="mu-footer-top-area">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="mu-footer-widget">
                <h4>Quick Links.</h4>
                   <ul class="list-group">
                      <li class="list-group-item">Home</li>
                      <li class="list-group-item">Blog</li>
                      <li class="list-group-item">Sign Up</li>
                      <li class="list-group-item">Register Now</li>
                    </ul>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="mu-footer-widget">
                <h4> Major Courses.</h4>
          <ul class="list-group">
           <li class="list-group-item">JavaScript</li>
           <li class="list-group-item">Python</li>
           <li class="list-group-item">TypeScript</li>
           <li class="list-group-item">Data Science</li>
          </ul>

            </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="mu-footer-widget">
                <h4>News letter</h4>
                <p>Get latest update, news & academic offers</p>
                <form class="mu-subscribe-form" method="post">

                  <input type="email" placeholder="Type your Email">
                  
                  <button class="mu-subscribe-btn" type="submit">Subscribe!</button>
                </form>               
              </div>
            </div>
            <!-- end of the news letters section -->  
            <div class="col-lg-3 col-md-3 col-sm-3">
              <div class="mu-footer-widget">
                <h4>Contact</h4>
                <address>
                  <p>P.O. Box 322, Thika, KENYA.</p>
                  <p>Phone: (+254) 0798 166 628 </p>
                  <p>Website: www.luxtechacademy.com</p>
                  <p>Email: luxtechacademy@gmail.com</p>
                </address>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
   <!-- end footer top --> 
   <!-- start footer bottom --> 
    <div class="mu-footer-bottom">
      <div class="container">
        <div class="mu-footer-bottom-area">
          <p>&copy;2020 Copyright:luxtechacademy.com</p>
        </div>
      </div>
    </div>
       <!-- end footer bottom --> 
  </footer> 

