<app-header></app-header>

<!--START SCROLL TOP BUTTON -->
<a class="scrollToTop" href="#">
    <i class="fa fa-angle-up"></i>      
  </a>
<!-- END SCROLL TOP BUTTON -->

<section id="mu-course-content">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mu-course-content-area">
             <div class="row">
               <div class="col-md-9">
                 <!-- start course content container -->
                 <div class="mu-course-container">
                   <div class="row">
                     <div class="col-md-6 col-sm-6">
                     <div class="mu-latest-course-single">
                       <figure class="mu-latest-course-img">
                         <a href="#"><img [src]="'assets/img/courses/python.jpg'" alt="img" height="100%" width="100%"></a>
                         <hr>
                         <figcaption class="mu-latest-course-imgcaption">
                           <h3 href="#">Python Programming Language</h3>
                         </figcaption>
                       </figure>
                       <hr>
                       <div class="mu-latest-course-single-content">
                          <p [ngStyle] = "{'text-align': 'justify', 'padding-left':'8px','padding-right':'8px'}">
                              Python is a free and open source high level programming language which is interplated, which supports object oreinted, procedural oriented, functional and imperative oriented programming paradigm.
                             </p>
                             <div class="mu-latest-course-single-contbottom"  [ngStyle]="{'padding-left':'35%'}">
                                <button mat-flat-button color="primary" >Read More</button>
                         </div>
                         <br>
                       </div>
                     </div> 
                   </div>                  
                   <div class="col-md-6 col-sm-6">
                     <div class="mu-latest-course-single">
                       <figure class="mu-latest-course-img">
                         <a href="#"><img [src]="'assets/img/courses/flask.jpg'" alt="img"  height="100%" width="100%"></a>
                         <hr>
                         <figcaption class="mu-latest-course-imgcaption">
                           <h4 href="#"> Flask Web Framework </h4> 
                         </figcaption>
                       </figure>
                       <hr>
                       <div class="mu-latest-course-single-content">
                          <p [ngStyle] = "{'text-align': 'justify', 'padding-left':'8px','padding-right':'8px'}">
                           
                              Flask is a small framework by most standards, small enough to be called a “micro-framework.” It is small enough that once you become familiar with it, you are  able to read and  understand all of its source code which is written in python.
     
                             </p>
                             <div class="mu-latest-course-single-contbottom"  [ngStyle]="{'padding-left':'35%'}">
                                <button mat-flat-button color="primary" >Read More</button>
                         </div>
                         <br>
                       </div>
                     </div>
                   </div>
                   <div class="col-md-6 col-sm-6">
                     <div class="mu-latest-course-single">
                       <figure class="mu-latest-course-img">
                         <a href="#"><img src="assets/img/courses/ts.png" alt="img"  height="240px" width="100%"></a>
                          <hr>
                         <figcaption class="mu-latest-course-imgcaption">
                           <h3 href="#">TypeScript programming Language</h3>
                         </figcaption>
                       </figure><hr>
                       <div class="mu-latest-course-single-content">
                          <p [ngStyle] = "{'text-align': 'justify', 'padding-left':'8px','padding-right':'8px'}">
                           
                              TypeScript is a superset of JavaScript meaning that TypeScript extends JavaScript with extra functionality which is not present in the current version of JavaScript supported by most browsers.
                             </p>
                             <div class="mu-latest-course-single-contbottom"  [ngStyle]="{'padding-left':'35%'}">
                                <button mat-flat-button color="primary" >Read More</button>
                         </div>
                         <br>
                       </div>
                     </div> 
                   </div> 
                 <div class="col-md-6 col-sm-6">
                     <div class="mu-latest-course-single">
                      
                       <figure class="mu-latest-course-img">
                         <a href="#"><img src="assets/img/courses/js.jpg" alt="img" height="240px" width="100%"></a>
                         <hr>
                         <figcaption class="mu-latest-course-imgcaption">
                          
                           <h3 href="#"> JavaScript programming Language </h3>
                           
                         </figcaption>
                       </figure>
                       <hr>
                       <div class="mu-latest-course-single-content">
                        
                         <p [ngStyle] = "{'text-align': 'justify', 'padding-left':'8px','padding-right':'8px'}">
                            It is a client-side scripting language, which means the source code is processed by the client's browser rather than on the server, but currently JavaScript can be ran on the server using Node JavaScript runtime.
                            
                         </p>
                         <div class="mu-latest-course-single-contbottom"  [ngStyle]="{'padding-left':'35%'}">
                            <button mat-flat-button color="primary" >Read More</button>
                        
                         </div>
                       <br>
                       </div>
                     </div>
                   </div>
                   </div>
 

                   </div>
                 <!-- end course content container -->
                 <!-- start course pagination -->
                 <div class="mu-pagination">
                   <nav>
                     <ul class="pagination">
                       <li>
                         <a  aria-label="Previous">
                           <span class="fa fa-angle-left"></span> Prev </a>
                       </li>
                       <li><a >1</a></li>
                       <li><a >2</a></li>
                       <li>
                         <a aria-label="Next">
                          Next <span class="fa fa-angle-right"></span>
                         </a>
                       </li>
                     </ul>
                   </nav>
                 </div>
                 <!-- end course pagination -->
               </div>
               <div class="col-md-3">
                 <!-- start sidebar -->
                 <aside class="mu-sidebar">
                   <!-- start single sidebar -->
                   <div class="mu-single-sidebar">
                     <h3>Blog Tags</h3>
                   <ul class="mu-sidebar-catg" [ngStyle]="{'style-type':'none'}">
                       <li><a href="#">
                          <i class="fa fa-angle-right"></i>    <i class="fa fa-angle-right"></i>    <i class="fa fa-angle-right"></i>Flask</a></li>
                       <li><a href="#">
                          <i class="fa fa-angle-right"></i>    <i class="fa fa-angle-right"></i>    <i class="fa fa-angle-right"></i>Django</a></li>
                       <li><a href="#">
                          <i class="fa fa-angle-right"></i>    <i class="fa fa-angle-right"></i>    <i class="fa fa-angle-right"></i>ReactJS</a></li>
                       <li><a href="#">
                          <i class="fa fa-angle-right"></i>    <i class="fa fa-angle-right"></i>    <i class="fa fa-angle-right"></i>Angular</a></li>
                       <li><a href="#">
                          <i class="fa fa-angle-right"></i>    <i class="fa fa-angle-right"></i>    <i class="fa fa-angle-right"></i>Data Science</a></li>
                       <li><a href="#">
                          <i class="fa fa-angle-right"></i>    <i class="fa fa-angle-right"></i>    <i class="fa fa-angle-right"></i>Machine learning</a></li>
                     </ul>
                   </div>
                   <!-- end single sidebar -->
                   <!-- start single sidebar -->
                   <div class="mu-single-sidebar">
                     <h3>Popular Course</h3>
                     <div class="mu-sidebar-popular-courses">
                        <hr>
                       <div class="media">
                         <div class="media-left">
                           <a href="#">
                             <img class="media-object" src="assets/img/courses/sci.png" alt="img">
                           </a>
                         </div>

                         <div class="media-body">
                           <h4 class="media-heading"><a href="#">Data Science</a></h4>                      
                          
                         </div>
                       </div>
                       <hr>
                       <div class="media">
                         <div class="media-left">
                           <a href="#">
                             <img class="media-object" src="assets/img/courses/web1.png" alt="img">
                           </a>
                         </div>
                         <hr>
                         <hr>
                         <div class="media-body">
                           <h4 class="media-heading"><a href="#">Web Development</a></h4>                      
                           
                         </div>
                       </div>
                       <hr>
                       <div class="media">
                         <div class="media-left">
                           <a href="#">
                             <img class="media-object" src="assets/img/courses/frm.png" alt="img">
                           </a>
                         </div>
                         <hr>
                         <div class="media-body">
                           <h4 class="media-heading"><a href="#">Web Frameworks</a></h4>                      
                           
                         </div>
                       </div>
                     </div>
                   </div>
                   <!-- end single sidebar -->
                   <!-- start single sidebar -->
                   <div class="mu-single-sidebar">
                     <h3>Archives</h3>
                     <ul class="mu-sidebar-catg mu-sidebar-archives">
                       <li><a href="#">Git </a></li>
                       <li><a href=""> ES6</a></li>
                       <li><a href="">MERN </a></li>
                       <li><a href="">Bash Scripting </a></li>
                     </ul>
                   </div>
                   <!-- end single sidebar -->
                   <!-- start single sidebar -->
                   <div class="mu-single-sidebar">
                     <h3>Tags Cloud</h3>
                     <div class="tag-cloud">
                       <a href="#">Health</a>
                       <a href="#"> Artificial Intelligence</a>
                       <a href="#">Mathematics</a>
                       <a href="#">Web Design</a>
                      
                     </div>
                   </div>
                   <!-- end single sidebar -->
                 </aside>
                 <!-- / end sidebar -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
 <app-footer></app-footer>