<app-header></app-header>

<div style="background: url('assets/img/slider/image.png');
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;" >
<div class="container" >
        <div class="row d-flex justify-content-center align-items-center">
          <div class="col-md-7">
            <div class="form d-flex justify-content-between">
              <form action="" class="my-form">
                <h4 class="font-weight-bold mb-3">Lux Tech Academy</h4>
                <p class="mdb-color-text">To log in, please fill in these text fiels with your E-mail address and Password.</p>
                <!-- Email address -->
                <div class="md-form md-outline label ">
                  <i class="fas fa-envelope prefix"></i>
                  <input type="email" id="emailhandle" class="form-control">
                  <label for="emailhandle">E-mail address</label>
                </div>
                <!-- Password -->
                <div class="md-form md-outline label">
                  <i class="fas fa-lock prefix"></i>
                  <input type="password" id="Enterpassword" class="form-control">
                  <label for="Enterpassword">Password</label>
                </div>
                <div class="space">
                  <div class="float-right">
                    <button class="btn btn-rounded" type="button">Log in</button>
                  </div>
                </div>
                <hr>
                <a class="link" href="#!">Forgot password? Click here.</a>
              </form>
            </div>
        </div>
</div> 
</div> 

<app-footer></app-footer>