 .no-padding {
    padding: 0;
  }
  
  .no-border {
    border: none;
  }
  
  /* MODULES - Individual site components */
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  ul li{
    text-decoration: none;

  }
  
  a {
    text-decoration: none;
    color: #333333;
  }
  
  a:hover,
  a:focus {
    outline: none;
    text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
  }
  
  h2 {
   
    font-weight: 700;
    line-height: 40px;
    margin: 0;
  }
  
  img {
    border: none;
  }
  
  .mu-read-more-btn {
    border: 1px solid #fff;
    color: #fff;
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    text-transform: uppercase;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }
  .mu-read-more-btn:hover, .mu-read-more-btn:focus {
    color: #fff;
  }
  
  .mu-post-btn {
    background-color: transparent;
    border: 1px solid #ccc;
    display: inline-block;
    font-size: 16px;
    padding: 10px 18px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }
  .mu-post-btn:hover, .mu-post-btn:focus {
    color: #fff;
  }
  

  /*==================
   HEADER SECTION
  ====================*/
  #mu-header {
    background-color:#f8f8f8;
    display: inline;
    
  }
  #mu-header .mu-header-area {
    display: inline;
   
  }
  #mu-header .mu-header-area .mu-header-top-left {
    display: inline;
    
  }
  #mu-header .mu-header-area .mu-header-top-left .mu-top-email {
    display: inline;
    
    font-size: 14px;
  }
  #mu-header .mu-header-area .mu-header-top-left .mu-top-email i {
    margin-right: 5px;
  }
  #mu-header .mu-header-area .mu-header-top-left .mu-top-phone {
    border-left: 1px solid #ddd;
    display: inline;
    font-size: 14px;
    margin-left: 15px;
    padding-left: 15px;
  }
  #mu-header .mu-header-area .mu-header-top-left .mu-top-phone i {
    margin-right: 5px;
  }
  #mu-header .mu-header-area .mu-header-top-right {
    display: inline;
    text-align: right;
  }
  #mu-header .mu-header-area .mu-header-top-right .mu-top-social-nav {
    display: inline-block;
  }
  #mu-header .mu-header-area .mu-header-top-right .mu-top-social-nav li {
    display: inline-block;
  }
  #mu-header .mu-header-area .mu-header-top-right .mu-top-social-nav li a {
    display: inline-block;
    font-size: 14px;
    padding: 0 8px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }
  
  /*==================
   NAVBAR SECTION
  ====================*/
  #mu-menu {
    display: inline;
  }
  #mu-menu .navbar-header .navbar-brand {
    color: #333;
    font-family: "Montserrat", sans-serif;
    font-size: 26px;
    font-weight: bold;
    text-transform: uppercase;
    padding-top: 20px;
    letter-spacing: 0.5px;
  }
  #mu-menu .navbar-header .navbar-brand i {
    font-size: 35px;
  }
  #mu-menu .navbar-header .navbar-brand span {
    margin-left: 4px;
  }
  #mu-menu .navbar-default {
    background-color: #fff;
    border-radius: 0;
    border-left: none;
    border-right: none;
    margin-bottom: 0px;
  }
  #mu-menu .navbar-default .navbar-nav li > a {
    border-bottom: 2px solid transparent;
    padding-bottom: 25px;
    padding-top: 25px;
    margin-bottom: -1px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }
  #mu-menu .navbar-default .navbar-nav li #mu-search-icon:hover, #mu-menu .navbar-default .navbar-nav li #mu-search-icon:focus {
    border: none;
  }
  #mu-menu .navbar-default .navbar-nav li .dropdown-menu {
    border-radius: 0px;
  }
  #mu-menu .navbar-default .navbar-nav li .dropdown-menu li a {
    color: #333333;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #mu-menu .navbar-default .navbar-nav li .dropdown-menu li a:hover, #mu-menu .navbar-default .navbar-nav li .dropdown-menu li a:focus {
    color: #fff;
  }
  #mu-menu .navbar-default .navbar-nav .open a:hover, #mu-menu .navbar-default .navbar-nav .open a:focus {
    color: #fff;
  }