<br>

<app-header> </app-header>
<!-- Page breadcrumb -->
<section id="mu-page-breadcrumb" class="w3-center bg-info">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-page-breadcrumb-area">
                    <br>
                    <h2>Python Programming Language</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
    <!-- The Grid -->
    <div class="w3-row">
        <!-- Left Column -->
        <div class="w3-col m3" id="left-column">
            <!-- Profile -->
            <div class="w3-card w3-round w3-white ">
                <div class="w3-container">

                    <h4 class="w3-center"> Python </h4>

                    <p class="w3-center"
                        style=" background-image: url(assets/img/courses/python.jpg); height: 100px; width: 180px;"></p>
                    <hr>
                    <!-- javascript Course outline-->
                  <p>Python has become one of programming langugae with high demand for th last past here, this
                        tutorial aims at helping learners to to jump straight into Python and learn everythong from the
                        basics to advanced Python concepts</p>
                    <br>

                </div>
            </div>
            <br>
            <!-- Alert Box -->
            <div
                class="w3-container w3-display-container w3-round w3-theme-l4 w3-border w3-theme-border w3-margin-bottom w3-hide-small">
                <span onclick="this.parentElement.style.display='none'"
                    class="w3-button w3-theme-l3 w3-display-topright">
                    <i class="fa fa-remove"></i>
                </span>
                <p><strong>Hey! Did you know that:</strong></p>
                <p>

                        You can master evrything you need in JavaScript in one tutorial? Try our Python 3 tutorial Now..</p>
            </div>

            <!-- End Left Column -->
        </div>


        <!-- Middle Column -->
        <div class="w3-col m7">

            <div class="w3-row-padding">
                <div class="w3-col m12">
                    <div class="w3-card w3-round w3-white">
                        <div class="w3-container w3-padding">

                            <h4 class=" w3-center"> <b> JavaScript Programming Language </b> </h4>

                        </div>
                    </div>
                </div>
            </div>

            <!-- Introduction part-->
            <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
                <span class="w3-right w3-opacity">Section 1.1.0</span>
                <h4> Introduction To JavaScript </h4>
                <hr class="w3-clear">
                <p [ngStyle]="{'background-color' :' #f2f2f2', 'text-align' : 'justify'}">
                    <b>Python </b> is an interpreted, high-level, general-purpose programming language. Created by Guido
                    van Rossum and first released in 1991, Python's design philosophy emphasizes code readability with
                    its notable use of significant whitespace. Its language constructs and object-oriented approach aim
                    to help programmers write clear, logical code for small and large-scale projects. Python is
                    dynamically typed and garbage-collected. It supports multiple programming paradigms, including
                    procedural, object-oriented, and Functional programming. Python is often described as a "batteries
                    included" language due to its comprehensive standard library. Python is a popular programming
                    language. It was created by Guido van Rossum, and released in 1991.
                </p>

                <h4> It is used for: </h4>

                <ul>
                    <li> web development (server-side),.</li>
                    <li> Make Web pages Responsive.</li>
                    <li> software development,</li>
                    <li>Mathemtics </li>
                    <li>System scripint</li>
                </ul>



                <hr>
                <p>
                    What can Python do? <br>

                    <br />•Python can be used on a server to create web applications.
                    <br />•Python can be used alongside software to create workflows.
                    <br />•Python can connect to database systems. It can also read and
                    modify files.
                    <br />•Python can be used to handle big data and perform complex
                    mathematics.
                    <br />•Python can be used for rapid prototyping, or for production-
                    ready software development.
                    <br>
                </p>

                <p> <b>Why Python?</b> <br>
                    •Python works on different platforms (Windows, Mac, Linux, Raspberry Pi, etc). <br>
                    •Python has a simple syntax similar to the English language. <br>
                    •Python has syntax that allows developers to write programs with fewer lines than some other
                    programming languages. <br>
                    •Python runs on an interpreter system, meaning that code can be executed as soon as it is written.
                    This means that prototyping can be very quick. <br>
                    •Python can be treated in a procedural way, an object- orientated way or a functional way. <br>
                </p>
                <p><b> Syntax compared to other programming languages</b> <br>
                    •Python was designed for readability, and has some similarities to the English language with
                    influence from mathematics. <br>
                    •Python uses new lines to complete a command, as opposed to other programming languages which often
                    use semicolons or parentheses. <br>
                    •Python relies on indentation, using whitespace, to define scope; such as the scope of loops,
                    functions and classes. Other programming languages often use curly-brackets for this purpose.
                    <br>
                </p>
                <p><b>Python Quickstart </b></p>

                <p> Python is an interpreted programming language, this means that as a developer you write Python (.py)
                    files in a text editor and then put those files into the python interpreter to be executed. let's
                    write our first Python file, called helloworld.py, which can be done in any text editor.
                    print("Hello, World!") Congratulations, you have written your first Python program.
                </p>
                <br>
            </div>
            <!-- introduction part end here-->



            <!-- Setting Up Your JavaScript Development Environment section -->
            <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
                <span class="w3-right w3-opacity">Section 1.2.0</span>
                <h4 class="w3-center"> <b>Python Practise Questions. </b></h4>
                <hr class="w3-clear">
                <p>
                    <p>Our Python tutorial is not fully complete hence we decided to come up with the best python
                        interview question that will keep you engaged.<br> </p>
            </div>


            <!-- java script syntax section -->
            <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
                <span class="w3-right w3-opacity">Section 1.3.0</span>
                <h4>Question 1: </h4>
                <hr class="w3-clear">
                <p>
                    <b> What is namespace in Python? </b>

                </p>
                <p>
                    A namespace is a naming system used to make sure that names are unique to avoid naming conflicts.
                </p>

            </div>
            <!-- end of syntax section-->
            <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
                <span class="w3-right w3-opacity">Section 1.3.0</span>
                <h4>Question 2: </h4>
                <hr class="w3-clear">
                <p>
                    <b>How is memory managed in Python? </b>

                </p>
                <p>
                    1). Memory management in python is managed by Python private heap space. All Python objects and data
                    structures are located in a private heap. The programmer does not have access to this private heap.
                    The python interpreter takes care of this instead.
                    <br> 2). The allocation of heap space for Python objects is done by Python’s memory manager. The
                    core API gives access to some tools for the programmer to code.
                    <br> 3). Python also has an inbuilt garbage collector, which recycles all the unused memory and so
                    that it can be made available to the heap space.
                </p>

            </div>
            <!-- end of syntax section-->
            <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
                <span class="w3-right w3-opacity">Section 1.3.0</span>
                <h4>Question 3: </h4>
                <hr class="w3-clear">
                <p>
                    <b>What advantages do NumPy arrays offer over (nested) Python lists? </b>

                </p>
                <p>
                    1). Python’s lists are efficient general-purpose containers. They support (fairly) efficient
                    insertion, deletion, appending, and concatenation, and Python’s list comprehensions make them easy
                    to construct and manipulate.
                    <br> 2). They have certain limitations: they don’t support “vectorized” operations like elementwise
                    addition and multiplication, and the fact that they can contain objects of differing types mean that
                    Python must store type information for every element, and must execute type dispatching code when
                    operating on each element.
                    <br> 3). NumPy is not just more efficient; it is also more convenient. You get a lot of vector and
                    matrix operations for free, which sometimes allow one to avoid unnecessary work. And they are also
                    efficiently implemented.
                    <br> 4). NumPy array is faster and You get a lot built in with NumPy, FFTs, convolutions, fast
                    searching, basic statistics, linear algebra, histograms, etc.


                </p>

            </div>
            <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
                <span class="w3-right w3-opacity">Section 1.3.0</span>
                <h4>Question 4: </h4>
                <hr class="w3-clear">
                <p>
                    <b>What are negative indexes and why are they used? </b>

                </p>
                <p>
                        The sequences in Python are indexed and it consists of the positive as well as negative numbers. The numbers that are positive uses ‘0’ that is uses as first index and ‘1’ as the second index and the process goes on like that.</p>

                       <p> The index for the negative number starts from ‘-1’ that represents the last index in the sequence and ‘-2’ as the penultimate index and the sequence carries forward like the positive number.</p>
                        
                       <p> The negative index is used to remove any new-line spaces from the string and allow the string to except the last character that is given as S[:-1]. The negative index is also used to show the index to represent the string in correct order.

                </p>

            </div>
            <!-- Question 5 -->
            <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
                <span class="w3-right w3-opacity">Section 1.3.0</span>
                <h4>Question 5: </h4>
                <hr class="w3-clear">
                <p>
                    <b>What is Polymorphism in Python? </b>

                </p>
                <p>
                    Polymorphism means the ability to take multiple forms. So, for instance, if the parent class has a
                    method named ABC then the child class also can have a method with the same name ABC having its own
                    parameters and variables. Python allows polymorphism.

                </p>

            </div>
            <!-- Question 6 -->
            <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
                <span class="w3-right w3-opacity">Section 1.3.0</span>
                <h4>Question 6: </h4>
                <hr class="w3-clear">
                <p>
                    <b>Does Python have OOps concepts? </b>

                </p>
                <p>
                    Python is an object-oriented programming language. This means that any program can be solved in
                    python by creating an object model. However, Python can be treated as procedural as well as
                    structural language.

                </p>

            </div>
            <!-- Question 7 -->
            <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
                <span class="w3-right w3-opacity">Section 1.3.0</span>
                <h4>Question 7: </h4>
                <hr class="w3-clear">
                <p>
                    <b> What is the difference between deep and shallow copy?</b>

                </p>
                       <p><b> Shallow copy </b> is used when a new instance type gets created and it keeps the values that are copied in the new instance. Shallow copy is used to copy the reference pointers just like it copies the values. These references point to the original objects and the changes made in any member of the class will also affect the original copy of it. Shallow copy allows faster execution of the program and it depends on the size of the data that is used.
                                  </p>
                       <p><b> Deep copy </b> is used to store the values that are already copied. Deep copy doesn’t copy the reference pointers to the objects. It makes the reference to an object and the new object that is pointed by some other object gets stored. The changes made in the original copy won’t affect any other copy that uses the object. Deep copy makes execution of the program slower due to making certain copies for each object that is been called.


                </p>

            </div>
            <!-- Question 8 -->
            <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
                <span class="w3-right w3-opacity">Section 1.3.0</span>
                <h4>Question 8: </h4>
                <hr class="w3-clear">
                <p>
                    <b> Explain Inheritance in Python with an example. </b>

                </p>
                <p>
                    Inheritance allows One class to gain all the members(say attributes and methods) of another class.
                    Inheritance provides code reusability, makes it easier to create and maintain an application. The
                    class from which we are inheriting is called super-class and the class that is inherited is called a
                    derived / child class.

                </p>
                <p>
                    <b>They are different types of inheritance supported by Python: </b>
                    <br>

                    1).Single Inheritance – where a derived class acquires the members of a single super class.<br>
                    2). Multi-level inheritance – a derived class d1 in inherited from base class base1, and d2 are
                    inherited from base2.<br>
                    3). Hierarchical inheritance – from one base class you can inherit any number of child classes<br>
                    4). Multiple inheritance – a derived class is inherited from more than one base class.<br>
                </p>

            </div>
            <!-- Question 9 -->
            <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
                <span class="w3-right w3-opacity">Section 1.3.0</span>
                <h4>Question 9: </h4>
                <hr class="w3-clear">
                <p>
                    <b>What is map function in Python?</b>

                </p>
                <p>
                    Map function executes the function given as the first argument on all the elements of the iterable
                    given as the second argument. If the function given takes in more than 1 arguments, then many
                    iterables are given. #Follow the link to know more similar functions.

                </p>

            </div>
            <!-- Question 10 -->
            <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
                <span class="w3-right w3-opacity">Section 1.3.0</span>
                <h4>Question 10: </h4>
                <hr class="w3-clear">
                <p>
                    <b>Mention the differences between Django, Pyramid and Flask </b>

                </p>
                <p>
                    1). Flask is a “microframework” primarily build for a small application with simpler requirements.
                    In flask, you have to use external libraries. Flask is ready to use.
                    <br> 2). Pyramid is built for larger applications. It provides flexibility and lets the developer
                    use the right tools for their project. The developer can choose the database, URL structure,
                    templating style and more. Pyramid is heavy configurable.
                    <br> 3). Django can also be used for larger applications just like Pyramid. It includes an ORM.

                </p>

            </div>





            <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
                <button type="button" class="w3-button  w3-left w3-theme-d1 w3-margin-bottom"><i
                        class="fa fa-arrow"></i> Previous Tutorial</button>
                <button type="button" class="w3-button  w3-right  w3-theme-d2 w3-margin-bottom"><i
                        class="fa fa-arrow"></i> Next Tutorial</button>
            </div>



            <!-- End Middle Column -->
        </div>

        <!-- Right Column -->
        <div class="w3-col m2">
            <div class="w3-card w3-round w3-white w3-center">
                <div class="w3-container">
                    <h4>TypeScript</h4>
                    <img src="assets/img/courses/ts.png" alt="LUXDOTCOM" style="width:100%;">


                    <p><button class="w3-button w3-block w3-theme-l4">Enrol Now Free</button></p>
                </div>
            </div>
            <br>





            <div class="w3-card w3-round w3-white w3-center">
                <div class="w3-container">
                    <h4>Angular</h4>
                    <img src="assets/img/courses/angular.jpeg" alt="LUXDOTCOM" style="width:100%;">

                    <p><button class="w3-button w3-block w3-theme-l4">Enrol Now Free</button></p>
                </div>
            </div>
            <br>





            <div class="w3-card w3-round w3-white w3-center">
                <div class="w3-container">
                    <h4>Flask</h4>
                    <img src="assets/img/courses/flask.jpg" alt="LUXDOTCOM" style="width:100%;">

                    <p><button class="w3-button w3-block w3-theme-l4">Enrol Now Free</button></p>
                </div>
            </div>
            <br>








            <div class="w3-card w3-round w3-white w3-center">
                <div class="w3-container">
                    <h4>Python</h4>
                    <img src="assets/img/courses/js.jpg" alt="LUXDOTCOM" style="width:100%;">

                    <p><button class="w3-button w3-block w3-theme-l4">Enrol Now Free</button></p>
                </div>
            </div>
            <br>







            <div class="w3-card w3-round w3-white w3-center">
                <div class="w3-container">
                    <h4>Django</h4>
                    <img src="assets/img/courses/Django.png" alt="LUXDOTCOM" style="width:100%;">

                    <p><button class="w3-button w3-block w3-theme-l4">Enrol Now Free</button></p>
                </div>
            </div>
            <br>

            <!-- End Right Column -->
        </div>

        <!-- End Grid -->
    </div>

    <!-- End Page Container -->
</div>



<app-footer> </app-footer>