<br>

<app-header> </app-header>
<!-- Page breadcrumb -->
<section id="mu-page-breadcrumb" class="w3-center bg-info">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="mu-page-breadcrumb-area">
          <br>
          <h2>TypeScript programming Language</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
  <!-- The Grid -->
  <div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m3" id="left-column">
      <!-- Profile -->
      <div class="w3-card w3-round w3-white ">
        <div class="w3-container">

          <h4 class="w3-center">TypeScript programming Language</h4>

          <p class="w3-center"
            style=" background-image: url(assets/img/courses/python.jpg); height: 100px; width: 180px;"></p>
          <hr>
          <!-- javascript Course outline-->
          <p>TypeScript is a superset of JavaScript meaning that it extends JavaScript with extra functionality which is not present in the current version of JavaScript supported by most browsers.</p>
          <br>

        </div>
      </div>
      <br>
      <!-- Alert Box -->
      <div
        class="w3-container w3-display-container w3-round w3-theme-l4 w3-border w3-theme-border w3-margin-bottom w3-hide-small">
        <span onclick="this.parentElement.style.display='none'" class="w3-button w3-theme-l3 w3-display-topright">
          <i class="fa fa-remove"></i>
        </span>
        <p><strong>Hey! Did you know that:</strong></p>
        <p>

          You can master evrything you need in TypeScript in one tutorial? Try our TypeScript tutorial Now..</p>
      </div>

      <!-- End Left Column -->
    </div>


    <!-- Middle Column -->
    <div class="w3-col m7">

      <div class="w3-row-padding">
        <div class="w3-col m12">
          <div class="w3-card w3-round w3-white">
            <div class="w3-container w3-padding">

              <h4 class=" w3-center"> <b> Angular Frontend Framework </b> </h4>

            </div>
          </div>
        </div>
      </div>

      <!-- Introduction part-->
      <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
        <span class="w3-right w3-opacity">Section 1.1.0</span>
        <h4> Introduction To JavaScript </h4>
        <hr class="w3-clear">
        <p [ngStyle]="{'background-color' :' #f2f2f2', 'text-align' : 'justify'}">
          TypeScript is a typed superset of JavaScript that compiles to plain JavaScript. It is pure object-oriented
          with classes, interfaces and statically typed programming languages like C# or Java. You will need a compiler
          to compile and generate the code in the JavaScript file. Basically, TypeScript is the ES6 version of
          JavaScript with some additional features.

          <br><b> Syntax:</b><br>
          <code class="w3-container bg-dark">
          var message:string = "Lux Typescript Tutorial"<br>
          console.log(message) </code>
          <br>
          A TypeScript code is written in a file with .ts extension and then compiled into JavaScript using the
          compiler. You can write the file in any code editor and the compiler needs to be installed on your platform.
          After the installation, the command tsc <i>filename</i>.ts compiles the TypeScript code into a plain
          JavaScript
          file.
        </p>

      </div>

      <!-- Setting Up Your JavaScript Development Environment section -->
      <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
        <span class="w3-right w3-opacity">Section 1.2.0</span>
        <h4 class="w3-center"> <b>TypeScript Practise Questions. </b></h4>
        <hr class="w3-clear">
        <p>
          <p>Our TypeScript tutorial is not fully complete hence we decided to come up with the best TypeScript
            interview question that will keep you engaged.<br> </p>
      </div>


      <!-- java script syntax section -->
      <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
        <span class="w3-right w3-opacity">Section 1.3.0</span>
        <h4>Question 1: </h4>
        <hr class="w3-clear">
        <p>
          <b> What is namespace in Typescript ?</b>

        </p>
        <p>

          Namespace groups functionalities logically. These maintain the legacy code of typescript internally. It
          encapsulates the features and objects that share certain relationships. A namespace is also known as internal
          modules. A namespace can also include interfaces, classes, functions, and variables to support a group of
          related functionalities.
        </p>

      </div>
      <!-- end of syntax section-->
      <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
        <span class="w3-right w3-opacity">Section 1.3.0</span>
        <h4>Question 2: </h4>
        <hr class="w3-clear">
        <p>
          <b> What are Interfaces in TypeScript? </b>

        </p>
        <p>

          The interface is a structure that defines the contract in your application. It defines the syntax for classes
          to follow. It contains only the declaration of the members and it is the responsibility of the deriving class
          to define the members. The TypeScript compiler uses interface for type-checking and checks whether the object
          has a specific structure or not.
        </p>

      </div>
      <!-- end of syntax section-->
      <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
        <span class="w3-right w3-opacity">Section 1.3.0</span>
        <h4>Question 3: </h4>
        <hr class="w3-clear">
        <p>
          <b>What are modules in TypeScript? </b>

        </p>
        <p>

          A module is a powerful way of creating a group of related variables, functions, classes, and interfaces, etc.
          It can be executed within its own scope, but not in the global scope. Basically, you cannot access the
          variables, functions, classes, and interfaces declared in a module outside the module directly.

          A module can be created by using the export keyword and can be used in other modules by using the import
          keyword.


        </p>

      </div>
      <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
        <span class="w3-right w3-opacity">Section 1.3.0</span>
        <h4>Question 4: </h4>
        <hr class="w3-clear">
        <p>
          <b> Does TypeScript support function overloading?</b>

        </p>


        <p>


          TypeScript supports function overloading. But the implementation is odd. So, when you overload in
          TypeScript you only have one implementation with multiple signatures.


        </p>

      </div>
      <!-- Question 5 -->
      <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
        <span class="w3-right w3-opacity">Section 1.3.0</span>
        <h4>Question 5: </h4>
        <hr class="w3-clear">
        <p>
          <b>Explain Decorators in TypeScript.</b>

        </p>
        <p>

          A Decorator is a special kind of declaration that can be applied to classes, methods, accessor, property, or
          parameter. Decorators are functions that are prefixed @expression symbol, where expression must evaluate to a
          function that will be called at runtime with information about the decorated declaration.



        </p>

      </div>
      <!-- Question 6 -->
      <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
        <span class="w3-right w3-opacity">Section 1.3.0</span>
        <h4>Question 6: </h4>
        <hr class="w3-clear">
        <p>
          <b>What are Generics in TypeScript?</b>

        </p>
        <p>

          TypeScript Generics is a tool that provides a way of creating reusable components. It is able to create
          components that can work with a variety of data types rather than a single data type. Also, it provides type
          safety without compromising the performance, or productivity. Generics allow us to create generic classes,
          generic functions, generic methods, and generic interfaces.

        </p>

      </div>
      <!-- Question 7 -->
      <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
        <span class="w3-right w3-opacity">Section 1.3.0</span>
        <h4>Question 7: </h4>
        <hr class="w3-clear">
        <p>
          <b> What is JSX in TypeScript?</b>

        </p>
        <p>


          JSX is an embeddable XML-like syntax and it is meant to be transformed into a valid JavaScript. JSX became
          popular with the React framework. TypeScript supports embedding, type checking, and compiling JSX directly
          into JavaScript.

          If you want to use JSX in your file, you need to name your file with a .tsx extension and enable jsx option.


        </p>

      </div>
      <!-- Question 8 -->
      <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
        <span class="w3-right w3-opacity">Section 1.3.0</span>
        <h4>Question 8: </h4>
        <hr class="w3-clear">
        <p><b>What are Ambients in TypeScripts and when to use them?</b></p>

        <p>
          Ambient declarations tell the compiler about the actual source code that exists elsewhere. If these source
          codes do not exist at runtime and we try to use them, then it will break without warning.

          Ambient declarations files are like docs files. If the source changes, the docs need to be kept updated and if
          the ambient declaration file is not updated, then you will get compiler errors. Also, it allows us to safely
          and easily use existing popular JavaScript libraries like jquery, angularjs, nodejs, etc.
        </p>


      </div>
      <!-- Question 9 -->
      <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
        <span class="w3-right w3-opacity">Section 1.3.0</span>
        <h4>Question 9: </h4>
        <hr class="w3-clear">
        <p>
          <b> What is an anonymous function?</b>

        </p>
        <p>


          An anonymous function is a function that is declared without any named identifier. These functions are
          dynamically declared at runtime. Also, anonymous functions can accept inputs and return outputs, just as
          standard functions do. It is usually not accessible after its initial creation.
        </p>

      </div>
      <!-- Question 10 -->
      <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
        <span class="w3-right w3-opacity">Section 1.3.0</span>
        <h4>Question 10: </h4>
        <hr class="w3-clear">
        <p>
          <b>WWhat is TypeScript Declare Keyword? </b>

        </p>
        <p>


          JavaScript libraries or frameworks don’t have TypeScript declaration files. But if you want to use them in the
          TypeScript file without any compilation error, you have to use the declare keyword. The declare keyword is
          used for ambient declarations and methods where you want to define a variable that may exist elsewhere.

        </p>

      </div>





      <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
        <button type="button" class="w3-button  w3-left w3-theme-d1 w3-margin-bottom"><i class="fa fa-arrow"></i>
          Previous Tutorial</button>
        <button type="button" class="w3-button  w3-right  w3-theme-d2 w3-margin-bottom"><i class="fa fa-arrow"></i> Next
          Tutorial</button>
      </div>



      <!-- End Middle Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-col m2">
      <div class="w3-card w3-round w3-white w3-center">
        <div class="w3-container">
          <h4>TypeScript</h4>
          <img src="assets/img/courses/ts.png" alt="LUXDOTCOM" style="width:100%;">


          <p><button class="w3-button w3-block w3-theme-l4">Enrol Now Free</button></p>
        </div>
      </div>
      <br>





      <div class="w3-card w3-round w3-white w3-center">
        <div class="w3-container">
          <h4>Angular</h4>
          <img src="assets/img/courses/angular.jpeg" alt="LUXDOTCOM" style="width:100%;">

          <p><button class="w3-button w3-block w3-theme-l4">Enrol Now Free</button></p>
        </div>
      </div>
      <br>





      <div class="w3-card w3-round w3-white w3-center">
        <div class="w3-container">
          <h4>Flask</h4>
          <img src="assets/img/courses/flask.jpg" alt="LUXDOTCOM" style="width:100%;">

          <p><button class="w3-button w3-block w3-theme-l4">Enrol Now Free</button></p>
        </div>
      </div>
      <br>








      <div class="w3-card w3-round w3-white w3-center">
        <div class="w3-container">
          <h4>Python</h4>
          <img src="assets/img/courses/js.jpg" alt="LUXDOTCOM" style="width:100%;">

          <p><button class="w3-button w3-block w3-theme-l4">Enrol Now Free</button></p>
        </div>
      </div>
      <br>







      <div class="w3-card w3-round w3-white w3-center">
        <div class="w3-container">
          <h4>Django</h4>
          <img src="assets/img/courses/Django.png" alt="LUXDOTCOM" style="width:100%;">

          <p><button class="w3-button w3-block w3-theme-l4">Enrol Now Free</button></p>
        </div>
      </div>
      <br>

      <!-- End Right Column -->
    </div>

    <!-- End Grid -->
  </div>

  <!-- End Page Container -->
</div>



<app-footer> </app-footer>