<br>

<app-header> </app-header>
<!-- Page breadcrumb -->
<section id="mu-page-breadcrumb" class="w3-center bg-info">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-page-breadcrumb-area">
                    <br>
                    <h2>JavaScript Programming Language</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
    <!-- The Grid -->
    <div class="w3-row">
        <!-- Left Column -->
        <div class="w3-col m3" id="left-column ">
            <!-- Profile -->
            <div class="w3-card w3-round w3-white">
                <div class="w3-container">

                    <h4 class="w3-center"> JavaScript </h4>

                    <p class="w3-center"
                        style=" background-image: url(assets/img/courses/js.jpg); height: 100px; width: 180px;"></p>
                    <hr>
                    <p>JavaScript has become one of programming langugae with high demand for th last past here, this
                        tutorial aims at helping learners to to jump straight into JavaScript and learn everythong from the
                        basics to advanced JavaScript concepts </p>
                    <br>

                </div>
            </div>
            <br>
            <!-- Alert Box -->
            <div
                class="w3-container w3-display-container w3-round w3-theme-l4 w3-border w3-theme-border w3-margin-bottom w3-hide-small">
                <span onclick="this.parentElement.style.display='none'"
                    class="w3-button w3-theme-l3 w3-display-topright">
                    <i class="fa fa-remove"></i>
                </span>
                <p><strong>Hey! Did you know that:</strong></p>
                <p>You can master evrything you need in JavaScript in one tutorial? Try our JavaScript and ES6 tutorial Now.</p>
            </div>

            <!-- End Left Column -->
        </div>


        <!-- Middle Column -->
        <div class="w3-col m7">

            <div class="w3-row-padding">
                <div class="w3-col m12">
                    <div class="w3-card w3-round w3-white">
                        <div class="w3-container w3-padding">

                            <h4 class=" w3-center"> <b> JavaScript Programming Language </b> </h4>

                        </div>
                    </div>
                </div>
            </div>

            <!-- Introduction part-->
            <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
                <span class="w3-right w3-opacity">Section 1.1.0</span>
                <h4> Introduction To JavaScript </h4>
                <hr class="w3-clear">
                <p [ngStyle]="{'background-color' :' #f2f2f2', 'text-align' : 'justify'}">
                    <b> JavaScript </b>was created by Brendan Eich in 1995 during his time at Netscape Communications.
                    It was inspired by Java,
                    Scheme and Self. JavaScript was initially developed for client-side and has been improved to server
                    side programming language,
                    also with the use of react native you can
                    build Android and IOS Mobile application. It is an object based language which employes the use of
                    object and methods in programming.
                </p>
                <p [ngStyle]="{'background-color' :' #f2f2f2', 'text-align' : 'justify'}"> <b> Remember: </b> In
                    JavaScripts objects are king, when you are good at Objects you are good in JavaScript.</p>
                <p [ngStyle]="{'background-color' :' #f2f2f2', 'text-align' : 'justify'}">
                    Like other scripting language JavaScript is a light weigh, ie does not require a compiler since it
                    is an interplated language.
                    JavaScript mainly executes in the contex of a webpage,this is when the a client computer has a web
                    browser which is javaScript enalbled.
                </p>
                <h6> <b> SHORT HAND NOTES.</b> </h6>
                <p [ngStyle]="{'background-color' :' #f2f2f2', 'text-align' : 'justify'}"> JavaScript being a dynamic
                    programming language, it is widely accepted by most of the web browsers so that the interaction at
                    client side with the user is made more interesting and more easier.<br>

                    JavaScript also allows your page to be interactive. You can add animations into the page which
                    either attract attention to a specific part of the page or which make the page easier to use.You can
                    provide responses within the web page to various actions that your visitor takes so as to avoid the
                    need to load new web pages to respond. <br>

                    JavaScript is fast and Reliable.


                    Functions can be rewritten and can be executed at the client side by using JavaScript.
                </p>
                <h4> What JavaScript can do </h4>

                <ul>
                    <li> Put content on HTML page on fly.</li>
                    <li> Make Web pages Responsive.</li>
                    <li> Create cookies </li>
                    <li> Validate Forms </li>
                    <li> Detect a user information</li>
                    <li> create Animation, slidesshows, scrollers</li>
                    <li> You can build Apps WIth JavaScript frameworks like Angularjs, Reactjs Backbonejs</li>
                </ul>



                <hr>
                <p>
                    It application includes: <br>

                    1.Web Development. <br />
                    2.Mobile application development. <br>
                    3.Smartwatch Applications. <br>
                    4.Server application.<br>
                    5.Games development. <br>
                    <br>
                </p>

                <h4> In Summary</h4>
                <ul>
                    <li> Javascript is a programming language that is ussed to make website interactive.</li>
                    <li> it is an interpreted language.</li>
                    <li> runs on client's computer/browser.</li>
                    <li> Javascript is not Java.</li>
                </ul>
            </div>
            <!-- introduction part end here-->



            <!-- Setting Up Your JavaScript Development Environment section -->


            <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
                <span class="w3-right w3-opacity">Section 1.2.0</span>
                <h4>Setting Up Your Development Environment</h4>
                <hr class="w3-clear">
                <p>
                    <p> To Write basic JavaScript code you need to have a Text editor.
                        and modern web browsers <br> </p>
                    <!-- A description list, with terms and descriptions -->
                    <dl>

                        <dt>Text editors </dt>
                        <dd>A text editor is a computer program that lets a user enter, change, store, and usually
                            print text (characters and numbers, each encoded by the computer and its input and
                            output devices, arranged to have meaning to users or to other programs).</dd>
                        <dt>Browser</dt>
                        <dd>A browser is a computer program with a graphical user interface for displaying HTML files,
                            used to
                            navigate the World Wide Web.</dd>
                    </dl>
            </div>


            <!-- java script syntax section -->
            <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
                <span class="w3-right w3-opacity">Section 1.3.0</span>
                <h4>JavaScript Syntax </h4>
                <hr class="w3-clear">
                <p>
                    JavaScript syntax refers to a set of rules that determine how the language will be written (by
                    the programmer) and interpreted (by the browser).

                    The JavaScript syntax is loosely based on the Java syntax. Java is a full blown programming
                    environment and JavaScript could be seen as a sub-set of the Java syntax. Having said this, that
                    is where the similarities end —Java and JavaScript are two totally different things.
                </p>
                <p style="background-color:#f2f2f2;">
                    JavaScript Syntax can be viewed as rules that a programmer has to follow to construct a program
                    or software using Java script programming language.
                </p>
            </div>
            <!-- end of syntax section-->

            <!-- comments section-->
            <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
                <span class="w3-right w3-opacity">Section 1.4.0</span>
                <h4> JavaScript Comments </h4>
                <hr class="w3-clear">
                <p>Comment are used as a techinique to explain code and making it more readable. In JavaScript, code
                    after double slashes <b> //</b> or between /*and */ is not executed its treated as comments. Comment
                    can be used to prevent part of a program from executing when testing possible code.
                    In JavaScript there are two types of comment, that is single line and multiple line comments.<br>
                    1) Single line comment. // comments <br>
                    2) Mutiple line comments. /* comments <br>
                    Comment are very important for documenting your code since they are ignored by browser and are not
                    executed.
                </p>
                <ul>
                    <li> We use // (two slashes) for single line comments </li>
                    <li> We use /* comments */ for multiple line comments</li>
                </ul>
            </div>


            <!-- variable section -->
            <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
                <span class="w3-right w3-opacity">Section 1.5.0</span>
                <h4>JavaScript Variables </h4>
                <hr class="w3-clear">
                <p>
                    <p> Variable are data containers.
                        JavaScript variables are containers for storing data values which can change throughout the
                        program. <b>var</b> keyword is used to declare variables. Equal sign <b> (=) </b> is assign a
                        value to a variable, in JavaScript it is called assignment operator rather than eual to.
                        In variable can be defined with or without a value. <br> A variable declared withou a value will
                        have the value undefined

                    </p>

                    <p> JavaScript variables must be indentified by a unique name called <b> Identifiers</b>.</p>
                    <h4>Conventions For Naming Variables In JavaScript </h4>
                    <ul>
                        <li>You should not use Keywords naming indentifiers.</li>
                        <li>Indentifiers must begin with a letter or underscore but not a digit</li>
                        <li>JavaScript variable names are case-sensitive.</li>
                    </ul>
                    <br>
            </div>


            <!-- keyword section-->
            <div class="w3-container w3-card w3-white w3-round w3-margin"><br>

                <span class="w3-right w3-opacity">Section 1.6.0</span>
                <h4>JavaScript Keywords</h4>
                <hr class="w3-clear">


                <p> Keywords are tokens that have special reserved words which conveys special meaning in JavaScript,
                    they cannot be used naming variables functions or classes and have a specific operation and meaning.
                    <br> <b> JavaScript keywords includes ; </b> </p>

                <div class="w3-container">
                    <table class="w3-table-all w3-centered">
                        <tr>
                            <td>abstract</td>
                            <td> boolean</td>
                            <td>break</td>
                        </tr>
                        <tr>
                            <td>byte</td>
                            <td>case</td>
                            <td>catch</td>

                        </tr>
                        <tr>
                            <td>char</td>
                            <td>class</td>
                            <td>const</td>

                        </tr>
                        <tr>
                            <td>continue</td>
                            <td>debugger</td>
                            <td>default</td>

                        </tr>


                        <tr>
                            <td>do</td>
                            <td>else</td>
                            <td>enum</td>


                        </tr>


                        <tr>
                            <td>export</td>
                            <td>delete</td>
                            <td>int</td>
                        </tr>



                        <tr>
                            <td>extends</td>
                            <td>false</td>
                            <td> final </td>

                        </tr>
                        <tr>
                            <td>finally</td>
                            <td>float</td>
                            <td>for</td>

                        </tr>



                        <tr>
                            <td>function</td>
                            <td>goto</td>
                            <td>if</td>

                        </tr>


                        <tr>
                            <td>interface</td>
                            <td>long</td>
                            <td>native</td>
                        </tr>



                        <tr>
                            <td>implements</td>
                            <td>import</td>
                            <td>in </td>

                        </tr>

                        <tr>
                            <td>null</td>
                            <td>package</td>
                            <td>private</td>
                        </tr>

                        <tr>
                            <td>new</td>
                            <td>protected</td>
                            <td>static</td>
                        </tr>




                        <tr>
                            <td>public</td>
                            <td>return</td>
                            <td>short</td>
                        </tr>


                        <tr>
                            <td>super</td>
                            <td>switch</td>
                            <td>synchronized</td>

                        </tr>



                        <tr>
                            <td>throw</td>
                            <td>throws</td>
                            <td> transient</td>

                        </tr>



                        <tr>
                            <td>try</td>
                            <td>typeof</td>
                            <td>var</td>

                        </tr>

                        <tr>
                            <td>volatile</td>
                            <td>while</td>
                            <td> with</td>
                        </tr>
                        <tr>
                            <td>void </td>
                            <td>true</td>
                            <td>this</td>
                        </tr>
                        <tr>
                            <td>double</td>
                            <td>instanceof</td>
                    </table>
                </div>
                <br>
            </div>





            <!--operator section-->
            <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
                <span class="w3-right w3-opacity">Section 1.7.0</span>
                <h4>JavaScript Operators </h4>
                <hr class="w3-clear">
                <p> Operators are specific characters having specific tasks and functions to perform. <br> are used to
                    assign values, compare values and perform arithmetic operations.</p>
                <div class="w3-container">
                    <table class="w3-table-all">
                        <thead>
                            <tr class="w3-light-grey">
                            </tr>
                        </thead>
                        <tr>
                            <td>+</td>
                            <td>Addition</td>
                        </tr>
                        <tr>
                            <td>-</td>
                            <td>Subtraction</td>

                        </tr>
                        <tr>
                            <td>*</td>
                            <td>Multiplication</td>

                        </tr>
                        <tr>
                            <td>**</td>
                            <td>Exponentiation</td>
                        </tr>

                        <tr>
                            <td>/</td>
                            <td>Division</td>
                        </tr>



                        <tr>
                            <td>%</td>
                            <td>Modulus/Remainder</td>
                        </tr>



                        <tr>
                            <td>++</td>
                            <td>Increment</td>
                        </tr>

                        <tr>
                            <td>--</td>
                            <td>Decrement</td>
                        </tr>


                    </table>
                </div>

                <br>
            </div>
            <!-- Data type section-->
            <div class="w3-container w3-card w3-white w3-round w3-margin"> <br>
                <span class="w3-right w3-opacity">Section 1.8.0</span>
                <h4>JavaScript Data Types </h4>
                <hr class="w3-clear">
                <p> In programming data types reffers to the type of values the with which the program can work.
                    javascript has two types of data types PRIMATIVE and OBJECT. Primative data types is any data which
                    is not an object and has no method, In JavaScript there are 6 primative data tpes;</p>


                <div class="w3-container">
                    <table class="w3-table-all">
                        <tr>
                            <td>boolean</td>
                            <td>null</td>
                            <td>number</td>
                        </tr>
                        <tr>
                            <td>symbol</td>
                            <td>string</td>
                            <td>undefined</td>
                        </tr>
                    </table>
                </div>
                <br>
            </div>


            <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
                <span class="w3-right w3-opacity">Section 1.0.0</span>
                <h4 class="w3-center">We hope you found the tutorial interesting we are preparing more and better
                    tutorials. </h4>
                <hr class="w3-clear">
            </div>





            <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
                <button type="button" class="w3-button  w3-left w3-theme-d1 w3-margin-bottom"><i
                        class="fa fa-arrow"></i> Previous Tutorial</button>
                <button type="button" class="w3-button  w3-right  w3-theme-d2 w3-margin-bottom"><i
                        class="fa fa-arrow"></i> Next Tutorial</button>
            </div>



            <!-- End Middle Column -->
        </div>

        <!-- Right Column -->
        <div class="w3-col m2">
            <div class="w3-card w3-round w3-white w3-center">
                <div class="w3-container">
                    <h4>TypeScript</h4>
                    <img src="assets/img/courses/ts.png" alt="LUXDOTCOM" style="width:100%;">


                    <p><button class="w3-button w3-block w3-theme-l4">Enrol Now Free</button></p>
                </div>
            </div>
            <br>





            <div class="w3-card w3-round w3-white w3-center">
                <div class="w3-container">
                    <h4>Angular</h4>
                    <img src="assets/img/courses/angular.jpeg" alt="LUXDOTCOM" style="width:100%;">

                    <p><button class="w3-button w3-block w3-theme-l4">Enrol Now Free</button></p>
                </div>
            </div>
            <br>





            <div class="w3-card w3-round w3-white w3-center">
                <div class="w3-container">
                    <h4>Flask</h4>
                    <img src="assets/img/courses/flask.jpg" alt="LUXDOTCOM" style="width:100%;">

                    <p><button class="w3-button w3-block w3-theme-l4">Enrol Now Free</button></p>
                </div>
            </div>
            <br>








            <div class="w3-card w3-round w3-white w3-center">
                <div class="w3-container">
                    <h4>Python</h4>
                    <img src="assets/img/courses/python.jpg" alt="LUXDOTCOM" style="width:100%;">

                    <p><button class="w3-button w3-block w3-theme-l4">Enrol Now Free</button></p>
                </div>
            </div>
            <br>







            <div class="w3-card w3-round w3-white w3-center">
                <div class="w3-container">
                    <h4>Django</h4>
                    <img src="assets/img/courses/Django.png" alt="LUXDOTCOM" style="width:100%;">

                    <p><button class="w3-button w3-block w3-theme-l4">Enrol Now Free</button></p>
                </div>
            </div>
            <br>

            <!-- End Right Column -->
        </div>

        <!-- End Grid -->
    </div>

    <!-- End Page Container -->
</div>



<app-footer> </app-footer>