<br>

<app-header> </app-header>
<!-- Page breadcrumb -->
<section id="mu-page-breadcrumb" class="w3-center bg-info">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-page-breadcrumb-area">
                    <br>
                    <h2>Angular Frontend Framework</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Page Container -->
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
    <!-- The Grid -->
    <div class="w3-row">
        <!-- Left Column -->
        <div class="w3-col m3" id="left-column">
            <!-- Profile -->
            <div class="w3-card w3-round w3-white ">
                <div class="w3-container">

                    <h4 class="w3-center"> Angular Framework</h4>

                    <p class="w3-center"
                        style=" background-image: url(assets/img/courses/python.jpg); height: 100px; width: 180px;"></p>
                    <hr>
                    <!-- javascript Course outline-->
                    <p>Angular is known as the Swiss army knife of frontend developers, and has become  golden child  for frontend developers almost 80% of front end Job today needs  adequate skills in angular.</p>
                    <br>

                </div>
            </div>
            <br>
            <!-- Alert Box -->
            <div
                class="w3-container w3-display-container w3-round w3-theme-l4 w3-border w3-theme-border w3-margin-bottom w3-hide-small">
                <span onclick="this.parentElement.style.display='none'"
                    class="w3-button w3-theme-l3 w3-display-topright">
                    <i class="fa fa-remove"></i>
                </span>
                <p><strong>Hey! Did you know that:</strong></p>
                <p>

                    You can master evrything you need in Angular in one tutorial? Try our Angular tutorial Now..</p>
            </div>

            <!-- End Left Column -->
        </div>


        <!-- Middle Column -->
        <div class="w3-col m7">

            <div class="w3-row-padding">
                <div class="w3-col m12">
                    <div class="w3-card w3-round w3-white">
                        <div class="w3-container w3-padding">

                            <h4 class=" w3-center"> <b> Angular Frontend Framework </b> </h4>

                        </div>
                    </div>
                </div>
            </div>

            <!-- Introduction part-->
            <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
                <span class="w3-right w3-opacity">Section 1.1.0</span>
                <h4> Introduction To JavaScript </h4>
                <hr class="w3-clear">
                <p [ngStyle]="{'background-color' :' #f2f2f2', 'text-align' : 'justify'}">
                    <b>Angular </b>is an open-source front-end web framework. It is one of the most popular JavaScript
                    frameworks that is mainly maintained by Google. It provides a platform for easy development of
                    web-based applications and empowers the front end developers in curating cross-platform
                    applications. It integrates powerful features like declarative templates, an end to end tooling,
                    dependency injection and various other best practices that smoothens the development path.

                    <br><b> Some of the advantages of using Angular include:</b><br>
                    A few of the major advantages of using Angular framework are listed below:<br>

                    It supports two-way data-binding<br>
                    It follows MVC pattern architecture<br>
                    It supports static template and Angular template<br>
                    You can add a custom directive<br>
                    It also supports RESTfull services<br>
                    Validations are supported<br>
                    Client and server communication is facilitated<br>
                    Support for dependency injection<br>
                    Has strong features like Event Handlers, Animation, etc.<br>
                </p>
                <br>
            </div>
            <!-- introduction part end here-->



            <!-- Setting Up Your JavaScript Development Environment section -->
            <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
                <span class="w3-right w3-opacity">Section 1.2.0</span>
                <h4 class="w3-center"> <b>Angular Practise Questions. </b></h4>
                <hr class="w3-clear">
                <p>
                    <p>Our Angular tutorial is not fully complete hence we decided to come up with the best python
                        interview question that will keep you engaged.<br> </p>
            </div>


            <!-- java script syntax section -->
            <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
                <span class="w3-right w3-opacity">Section 1.3.0</span>
                <h4>Question 1: </h4>
                <hr class="w3-clear">
                <p>
                    <b> Differentiate between one-way binding and two-way data binding. </b>

                </p>
                <p>
                    In One-Way data binding, the View or the UI part does not update automatically whenever the data
                    model changes. You need to manually write custom code in order to update it every time the view
                    changes.<br>
                    Whereas, in Two-way data binding, the View or the UI part is updated implicitly as soon as the data
                    model changes. It is a synchronization process, unlike One-way data binding.
                </p>

            </div>
            <!-- end of syntax section-->
            <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
                <span class="w3-right w3-opacity">Section 1.3.0</span>
                <h4>Question 2: </h4>
                <hr class="w3-clear">
                <p>
                    <b> What is Angular mainly used for? </b>

                </p>
                <p>
                    Angular is typically used for the development of SPA which stands for Single Page Applications.
                    Angular provides a set of ready-to-use modules that simplify the development of single page
                    applications. Not only this, with features like built-in data streaming, type safety, and a modular
                    CLI, Angular is regarded as a full-fledged web framework.
                </p>

            </div>
            <!-- end of syntax section-->
            <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
                <span class="w3-right w3-opacity">Section 1.3.0</span>
                <h4>Question 3: </h4>
                <hr class="w3-clear">
                <p>
                    <b>In Angular what is string interpolation? </b>

                </p>
                <p>
                    String interpolation in Angular is a special syntax that uses template expressions within double
                    curly braces for displaying the component data. It is also known as moustache syntax. The
                    JavaScript expressions are included within the curly braces to be executed by Angular and the
                    relative output is then embedded into the HTML code. These expressions are usually updated and
                    registered like watches, as a part of the digest cycle.


                </p>

            </div>
            <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
                <span class="w3-right w3-opacity">Section 1.3.0</span>
                <h4>Question 4: </h4>
                <hr class="w3-clear">
                <p>
                    <b> What are templates in Angular?</b>

                </p>


                <p>


                    Templates in Angular are written with HTML that contains Angular-specific elements and attributes.
                    These templates are combined with information coming from the model and controller which are further
                    rendered to provide the dynamic view to the user.


                </p>

            </div>
            <!-- Question 5 -->
            <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
                <span class="w3-right w3-opacity">Section 1.3.0</span>
                <h4>Question 5: </h4>
                <hr class="w3-clear">
                <p>
                    <b>What is Dependency Injection in Angular? </b>

                </p>
                <p>
                    Dependency Injection (DI) is a software design pattern where the objects are passed as dependencies
                    rather than hard-coding them within the component. The concept of Dependency Injection comes in
                    handy when you are trying to separate the logic of object creation to that of its consumption. The
                    ‘config’ operation makes use of DI that must be configured beforehand while the module gets loaded
                    to retrieve the elements of the application. With this feature, a user can change dependencies as
                    per his requirements.

                </p>

            </div>
            <!-- Question 6 -->
            <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
                <span class="w3-right w3-opacity">Section 1.3.0</span>
                <h4>Question 6: </h4>
                <hr class="w3-clear">
                <p>
                    <b>What do you understand by dirty checking in Angular? </b>

                </p>
                <p>
                    In Angular, the digest process is known as dirty checking. It is called so as it scans the entire
                    scope for changes. In other words, it compares all the new scope model values with the previous
                    scope values. Since all the watched variables are contained in a single loop, any change/update in
                    any of the variable leads to reassigning of rest of the watched variables present inside the DOM. A
                    watched variable is in a single loop(digest cycle), any value change of any variable forces to
                    reassign values of other watched variables in DOM

                </p>

            </div>
            <!-- Question 7 -->
            <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
                <span class="w3-right w3-opacity">Section 1.3.0</span>
                <h4>Question 7: </h4>
                <hr class="w3-clear">
                <p>
                    <b>  What do you understand by REST in Angular?</b>

                </p>
                <p>
                    

                    REST stands for REpresentational State Transfer. REST is an API (Application Programming Interface)
                    style that works on the HTTP request. In this, the requested URL pinpoints the data that needs to be
                    processed. Further ahead, an HTTP method then identifies the specific operation that needs to be
                    performed on that requested data. Thus, the APIs which follows this approach are known as RESTful
                    APIs.


                </p>

            </div>
            <!-- Question 8 -->
            <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
                <span class="w3-right w3-opacity">Section 1.3.0</span>
                <h4>Question 8: </h4>
                <hr class="w3-clear">
                <p><b>How to perform animation in Angular?</b></p>

                <p>
                    n order to perform animation in an Angular application, you need to include a special Angular
                    library known as Animate Library and then refer to the ngAnimate module into your application or
                    add the ngAnimate as a dependency inside your application module.

                </p>


            </div>
            <!-- Question 9 -->
            <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
                <span class="w3-right w3-opacity">Section 1.3.0</span>
                <h4>Question 9: </h4>
                <hr class="w3-clear">
                <p>
                    <b> What are the Angular Modules?</b>

                </p>
                <p>

                    All the Angular apps are modular and follow a modularity system known as NgModules. These are the
                    containers which hold a cohesive block of code dedicated specifically to an application domain, a
                    workflow, or some closely related set of capabilities. These modules generally contain components,
                    service providers, and other code files whose scope is defined by the containing NgModule. With
                    modules makes the code becomes more maintainable, testable, and readable. Also, all the dependencies
                    of your applications are generally defined in modules only.
                </p>

            </div>
            <!-- Question 10 -->
            <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
                <span class="w3-right w3-opacity">Section 1.3.0</span>
                <h4>Question 10: </h4>
                <hr class="w3-clear">
                <p>
                    <b>What is AOT in Angular? </b>

                </p>
                <p>

                    AOT stands for Angular Ahead-of-Time compiler. It is used for pre-compiling the application
                    components and along with their templates during the build process. Angular applications which are
                    compiled with AOT has a smaller launching time. Also, components of these applications can execute
                    immediately, without needing any client-side compilation. Templates in these applications are
                    embedded as code within their components. It reduces the need for downloading the Angular compiler
                    which saves you from a cumbersome task. AOT compiler can discard the unused directives which are
                    further thrown out using a tree-shaking tool.

                </p>

            </div>





            <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
                <button type="button" class="w3-button  w3-left w3-theme-d1 w3-margin-bottom"><i
                        class="fa fa-arrow"></i> Previous Tutorial</button>
                <button type="button" class="w3-button  w3-right  w3-theme-d2 w3-margin-bottom"><i
                        class="fa fa-arrow"></i> Next Tutorial</button>
            </div>



            <!-- End Middle Column -->
        </div>

        <!-- Right Column -->
        <div class="w3-col m2">
            <div class="w3-card w3-round w3-white w3-center">
                <div class="w3-container">
                    <h4>TypeScript</h4>
                    <img src="assets/img/courses/ts.png" alt="LUXDOTCOM" style="width:100%;">


                    <p><button class="w3-button w3-block w3-theme-l4">Enrol Now Free</button></p>
                </div>
            </div>
            <br>





            <div class="w3-card w3-round w3-white w3-center">
                <div class="w3-container">
                    <h4>Angular</h4>
                    <img src="assets/img/courses/angular.jpeg" alt="LUXDOTCOM" style="width:100%;">

                    <p><button class="w3-button w3-block w3-theme-l4">Enrol Now Free</button></p>
                </div>
            </div>
            <br>





            <div class="w3-card w3-round w3-white w3-center">
                <div class="w3-container">
                    <h4>Flask</h4>
                    <img src="assets/img/courses/flask.jpg" alt="LUXDOTCOM" style="width:100%;">

                    <p><button class="w3-button w3-block w3-theme-l4">Enrol Now Free</button></p>
                </div>
            </div>
            <br>








            <div class="w3-card w3-round w3-white w3-center">
                <div class="w3-container">
                    <h4>Python</h4>
                    <img src="assets/img/courses/js.jpg" alt="LUXDOTCOM" style="width:100%;">

                    <p><button class="w3-button w3-block w3-theme-l4">Enrol Now Free</button></p>
                </div>
            </div>
            <br>







            <div class="w3-card w3-round w3-white w3-center">
                <div class="w3-container">
                    <h4>Django</h4>
                    <img src="assets/img/courses/Django.png" alt="LUXDOTCOM" style="width:100%;">

                    <p><button class="w3-button w3-block w3-theme-l4">Enrol Now Free</button></p>
                </div>
            </div>
            <br>

            <!-- End Right Column -->
        </div>

        <!-- End Grid -->
    </div>

    <!-- End Page Container -->
</div>



<app-footer> </app-footer>