/*==================
 BLOG Component
====================*/
#mu-from-blog {
    display: inline;
    float: left;
    padding: 100px 0;
    width: 100%;
  }
  #mu-from-blog .mu-from-blog-area {
    display: inline;
    float: left;
    width: 100%;
  }
  #mu-from-blog .mu-from-blog-area .mu-from-blog-content {
    display: inline;
    float: left;
    margin-top: 50px;
    width: 100%;
  }
  
  .mu-blog-single-item {
    display: inline;
    float: left;
    width: 100%;
  }
  .mu-blog-single-item .mu-blog-single-img {
    display: inline;
    float: left;
    width: 100%;
  }
  .mu-blog-single-item .mu-blog-single-img a {
    display: block;
  }
  .mu-blog-single-item .mu-blog-single-img a img {
    width: 100%;
  }
  .mu-blog-single-item .mu-blog-single-img .mu-blog-caption {
    display: inline;
    float: left;
    width: 100%;
  }
  .mu-blog-single-item .mu-blog-single-img .mu-blog-caption h3 a {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }
  .mu-blog-single-item .mu-blog-meta {
    display: inline;
    float: left;
    margin-bottom: 15px;
    width: 100%;
    margin-top: 5px;
  }
  .mu-blog-single-item .mu-blog-meta a {
    display: inline-block;
    float: left;
    letter-spacing: 0.5px;
    margin-right: 10px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }
  .mu-blog-single-item .mu-blog-meta span {
    display: inline-block;
    float: left;
  }
  .mu-blog-single-item .mu-blog-meta span i {
    margin-right: 7px;
  }
  .mu-blog-single-item .mu-blog-description {
    display: inline;
    float: left;
    width: 100%;
  }
  .mu-blog-single-item .mu-blog-description p {
    font-size: 15px;
    letter-spacing: 0.3px;
    line-height: 1.7;
  }
  .mu-blog-single-item .mu-blog-description a {
    border-color: #555;
    color: #555;
    font-size: 14px;
    margin-top: 15px;
  }
  .mu-blog-single-item .mu-blog-description a:hover, .mu-blog-single-item .mu-blog-description a:focus {
    color: #fff;
  }
  

/* side bar */

.mu-pagination {
  display: inline;
  float: left;
  width: 100%;
}
.mu-pagination .pagination li:first-child a {
  border-radius: 0;
}
.mu-pagination .pagination li:first-child a span {
  margin-right: 5px;
}
.mu-pagination .pagination li:last-child a {
  border-radius: 0;
}
.mu-pagination .pagination li:last-child a span {
  margin-left: 5px;
}
.mu-pagination .pagination li a {
  color: #333;
  margin: 0 5px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.mu-pagination .pagination li a:hover, .mu-pagination .pagination li a:focus {
  color: #fff;
}
.mu-pagination .pagination .active a {
  color: #fff;
}
         




.mu-sidebar {
  display: inline;
  float: right;
  width: 100%;
}
.mu-sidebar .mu-single-sidebar {
  background-color: #FFF;
  display: inline;
  float: left;
  margin-bottom: 25px;
  padding: 0 10px 10px;
  width: 100%;
}
.mu-sidebar .mu-single-sidebar .mu-sidebar-catg {
  padding-left: 15px;
}
.mu-sidebar .mu-single-sidebar .mu-sidebar-catg li a {
  color: #333;
  display: inline-block;
  font-size: 15px;
  font-weight: normal;
  padding: 5px 0 5px 15px;
  position: relative;
  text-transform: capitalize;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.mu-sidebar .mu-single-sidebar .mu-sidebar-catg li a:hover, .mu-sidebar .mu-single-sidebar .mu-sidebar-catg li a:focus {
  margin-left: 5px;
}
.mu-sidebar .mu-single-sidebar .mu-sidebar-catg li a:before {
  content: "\f101";
  font-family: FontAwesome;
  left: 0;
  position: absolute;
  top: 5px;
}




/* side bar */




  /* Responsive Desgin*/


  @media (max-width: 767px) {
    .navbar-header {
      padding: 10px 0;
    }
  
    #mu-menu .navbar-header .navbar-brand {
      padding-top: 10px;
    }
  
    #mu-search-icon {
      display: none;
    }
  
    .navbar-toggle {
      background-color: #01bafd;
      border-radius: 0;
    }
  
    .navbar-default .navbar-toggle {
      border-color: #01bafd;
    }
  
    .navbar-default .navbar-toggle .icon-bar {
      background-color: #fff;
    }
  
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
      background-color: #01bafd;
    }
  
    #mu-menu .navbar-default .navbar-nav li > a {
      padding: 15px 20px;
    }
  
    #mu-slider .mu-slider-single .mu-slider-content h2 {
      font-size: 30px;
      line-height: 60px;
    }
  
    #mu-abtus-counter {
      background-position: center center;
      background-size: cover;
    }
  
    #mu-abtus-counter .mu-abtus-counter-area .mu-abtus-counter-single {
      border: medium none;
      margin-bottom: 25px;
    }
  
    #mu-features .mu-features-area .mu-features-content .mu-single-feature {
      text-align: center;
    }
  
    #mu-features .mu-features-area .mu-features-content .mu-single-feature h4::after {
      display: none;
    }
  
    #mu-latest-courses .mu-latest-courses-area .mu-latest-courses-content .mu-latest-course-single .mu-latest-course-img .mu-latest-course-imgcaption a {
      font-size: 14px;
    }
  
    #mu-latest-courses .mu-latest-course-img .mu-latest-course-imgcaption span {
      font-size: 14px;
    }
  
    #mu-from-blog .mu-from-blog-area .mu-from-blog-content .mu-blog-single-item {
      margin-bottom: 30px;
    }
} 

/* side bar*/
.mu-sidebar .mu-single-sidebar {
  background-color: #FFF;
  display: inline;
  float: left;
  margin-bottom: 25px;
  padding: 0 10px 10px;
  width: 100%;
}
.mu-sidebar .mu-single-sidebar .mu-sidebar-catg {
  padding-left: 15px;
}
.mu-sidebar .mu-single-sidebar .mu-sidebar-catg li a {
  color: #333;
  display: inline-block;
  font-size: 15px;
  font-weight: normal;
  padding: 5px 0 5px 15px;
  position: relative;
  text-transform: capitalize;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
 .mu-sidebar .mu-single-sidebar .mu-sidebar-catg li a:hover,.mu-sidebar .mu-single-sidebar .mu-sidebar-catg li a:focus {
  margin-left: 5px;
}
.mu-sidebar .mu-single-sidebar .mu-sidebar-catg li a:before {
  content: "\f101";
  font-family: FontAwesome;
  left: 0;
  position: absolute;
  top: 5px;
}









.mu-sidebar-popular-courses {
  display: inline;
  float: left;
  margin-top: 10px;
  width: 100%;
}
.mu-single-sidebar .mu-sidebar-popular-courses .media .media-left .media-object {
  width: 70px;
  height: 60px;
}
.mu-single-sidebar .mu-sidebar-popular-courses .media .media-body .media-heading {
  font-size: 16px;
}
.mu-sidebar .mu-single-sidebar .mu-sidebar-popular-courses .media .media-body .media-heading a {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}



.mu-sidebar .mu-single-sidebar .mu-sidebar-archives li a:before {
  content: '\f0da';
}
 .mu-sidebar .mu-single-sidebar .mu-sidebar-archives li a span {
  margin-left: 5px;
}
 .mu-course-content-area .mu-sidebar .mu-single-sidebar .tag-cloud {
  display: inline;
  float: left;
  margin-top: 5px;
  width: 100%;
}
.mu-course-content-area .mu-sidebar .mu-single-sidebar .tag-cloud a {
  border-bottom: 1px solid #ccc;
  display: inline-block;
  font-size: 15px;
  letter-spacing: 0.3px;
  margin: 0 5px 10px;
  padding: 5px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}