<app-header></app-header>



<!-- End breadcrumb -->
<br>
<br>
<section id="mu-course-content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="mu-course-content-area">
           <div class="row">
             <div class="col-md-9">
               <!-- start course content container -->
               <br>                    
               <div class="mu-course-container mu-blog-archive">
                 <div class="row">
                   <div class="col-md-6 col-sm-6">
                     <article class="mu-blog-single-item">
                       <figure class="mu-blog-single-img">
                         <figcaption class="mu-blog-caption">
                           <h3><a href="#">Integrating Angular with REST API.</a></h3>
                         </figcaption>                      
                       </figure>
                       <div class="mu-blog-meta">
                         <a href="#">By Admin</a>
                         <a href="#">12 January 2020</a>
                         <!-- <span><i class="fa fa-comments-o"></i>87</span> -->
                       </div>
                       <div class="mu-blog-description">
                         <p [ngStyle]="{'text-align': 'justify'}">
                          Rest is a standardized way of building http-endpoints and uses standard  HTTP-verb like get(read), post(create), put(update)
                          and delete(delete).In angular Application Programming Interface (API) is a setof global javascript or TypeScript functions 
                          used for the purpose of carrying out common tasks, these tasks includes converting dats, iterating objects among other tasks.
                          
                         </p>
                         <button mat-flat-button color="primary">Read More</button>
                        
                       </div>
                     </article> 
                   </div>                  
                   <div class="col-md-6 col-sm-6">
                     <article class="mu-blog-single-item">
                       <figure class="mu-blog-single-img">
                      
                         <figcaption class="mu-blog-caption">
                           <h3><a href="#">Should you learn programming?</a></h3>
                         </figcaption>                      
                       </figure>
                       <div class="mu-blog-meta">
                         <a href="#">By Emma Kawira</a>
                         <a href="#">22 January 2020</a>
                       <!--   <span><i class="fa fa-comments-o"></i>87</span> -->
                       </div>
                       <div class="mu-blog-description">
                         <p  [ngStyle]="{'text-align': 'justify'}">
                           Programming have been trending for the last five years as one of the most marketable careers in the world, It is also taken as
                           a hobby by many. Many of us are confused and yet to make decision if to learn coding in 2020 or not, its not late but you should
                           put  in consinderation of changing factor and trends in the field of coding. In this article i will guide you  to make the best 
                           decision.

                         </p>
                         <button mat-flat-button color="primary">Read More</button>
                       </div>
                     </article>
                   </div>
                   
                  <div class="col-md-6 col-sm-6">
                      <br>
                      <hr>
                      <br>
                     <article class="mu-blog-single-item">
                       <figure class="mu-blog-single-img">
                        
                         <figcaption class="mu-blog-caption">
                           <h3><a href="#">Introduction to DevOps.</a></h3>
                         </figcaption>                      
                       </figure>
                       <div class="mu-blog-meta">
                         <a href="#">By Harun Mbaabu</a>
                         <a href="#">30 March 2020</a>
                     <!--    <span><i class="fa fa-comments-o"></i>87</span> -->
                       </div>
                       <div class="mu-blog-description">
                         <p  [ngStyle]="{'text-align': 'justify'}">
                          DevOps is a software development approach which involves Continuous Development, Continuous Testing, Continuous Integration, Continuous 
                          Deployment and Continuous Monitoring of the software throughout its development life cycle. These activities are possible only in DevOps,
                           not waterfall or any other software developed lifecycle, and this is why Facebook and other top companies have apadpted DevOps as the 
                           way forward for their business goal.
                         </p>
                         <button mat-flat-button color="primary">Read More</button>
                       </div>
                     </article>
                   </div>
                   <br>
                   <hr>
                   <div class="col-md-6 col-sm-6">
                      <br>
                      <hr>
                      <br>
                     <article class="mu-blog-single-item">
                       <figure class="mu-blog-single-img">
                         <figcaption class="mu-blog-caption">
                           <h3><a href="#">Front End Developer Resume.</a></h3>
                         </figcaption>                      
                       </figure>
                       <div class="mu-blog-meta">
                         <a href="#">By Emma Kawira</a>
                         <a href="#">02 April 2020</a>
                        <!--  <span><i class="fa fa-comments-o"></i>87</span> -->
                       </div>
                       <div class="mu-blog-description">
                         <p  [ngStyle]="{'text-align': 'justify'}">
                          A front end developer is incharge of taking data and code and using HTML,  CSS, and JavaScript to render it to client-side, creating website
                          and applications.A F/E developer resume needs to document your tech skills and it skills in relevant way to score the IT interview by converting employment,
                          skills and educational data into a resume the it manager enjoys reading. As a front end developer you should convert data into something visually appealing 
                          for  the rest of enjoyably digest.
                  
                         
                          </p>
                          <button mat-flat-button color="primary">Read More</button>
                       </div>
                     </article>
                   </div>
                  </div>
                </div>
               <!-- end course content container -->
               <!-- start course pagination -->
               
                   <!-- start course pagination -->
                   <div class="mu-pagination">
                     <br>
                    <nav>
                      <ul class="pagination">
                        <li>
                          <a href="#" aria-label="Previous">
                            <span class="fa fa-angle-left"></span> Prev </a>
                        </li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li>
                          <a href="#" aria-label="Next" class="float-right">
                           Next <span class="fa fa-angle-right"></span>
                          </a>
                        </li>
                      </ul>
                    </nav>
                  </div>
                  <!-- end course pagination -->
                </div>
                <div class="col-md-3">
                  <!-- start sidebar -->
                  <aside class="mu-sidebar">
                   
                    <!-- end single sidebar -->
                    <!-- start single sidebar -->
          <br>
                    <div class="mu-single-sidebar">
                      <h3>Popular Course</h3>
                      <div class="mu-sidebar-popular-courses">
                         <hr>
                        <div class="media">
                          <div class="media-left">
                            <a href="#">
                              <img class="media-object" src="assets/img/courses/sci.png" alt="img" height="150px" width="150px">
                            </a>
                          </div>
 
                          <div class="media-body">
                            <h4 class="media-heading"><a href="#">Data Science</a></h4>                      
                           
                          </div>
                        </div>
                        <hr>
                        
                        <div class="media">
                          <div class="media-left">
                            <a href="#">
                              <img class="media-object" src="assets/img/courses/frm.png" alt="img" height="150px" width="150px">
                            </a>
                          </div>
                          <hr>
                          <div class="media-body">
                            <h4 class="media-heading"><a href="#">Web Frameworks</a></h4>                      
                            
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- end single sidebar -->
                    <!-- start single sidebar -->
                    <div class="mu-single-sidebar">
                      <h3>Archives</h3>
                      <ul class="mu-sidebar-catg mu-sidebar-archives">
                        <li><a href="#">Git </a></li>
                        <li><a href=""> ES6</a></li>
                        <li><a href="">MERN </a></li>
                        <li><a href="">Bash Scripting </a></li>
                      </ul>
                    </div>
                    <!-- end single sidebar -->
                    <!-- start single sidebar -->
                    <div class="mu-single-sidebar">
                      <h3>Tags Cloud</h3>
                      <div class="tag-cloud">
                        <a href="#">Health</a>
                        <a href="#"> Artificial Intelligence</a>
                        <a href="#">Mathematics</a>
                        <a href="#">Web Design</a>
                       
                      </div>
                    </div>

                    <!-- end single sidebar -->
                  </aside>
                  <!-- / end sidebar -->
             
               <!-- end course pagination -->
             </div>
            </div>
          </div>
        </div>
      </div>
     <br>
    </div>
             
</section>
<!-- footer section component --> 
<app-footer> </app-footer>              