<app-header></app-header>

<!-- Page breadcrumb -->
<section id="mu-page-breadcrumb" class="w3-center bg-info">
    <div class="w3-container container">
        <div class="row">
            <div class="col-md-12">
                <div class="mu-page-breadcrumb-area">
                    <br>
                    <h2>Blog & Quick Tutorials </h2>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="w3-light-grey w3-content" style="max-width:1600px">
  <div class="w3-container">
  <!-- Overlay effect when opening sidebar on small screens -->
  <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>
  
  <!-- !PAGE CONTENT! -->
  <div class="w3-main">
    <!-- Header -->
    <header id="portfolio">
      <div class="w3-container">
      <div class="w3-section w3-bottombar w3-padding-16">
        <span class="w3-margin-right">Mojar Blogs:</span> 
        <button class="w3-button w3-white">Python</button>
        <button class="w3-button w3-white">JavaScript</button>
        <button class="w3-button w3-white w3-hide-small">TypeScript</button>
        <button class="w3-button w3-white w3-hide-small"> Data Science</button>
      </div>
      </div>
    </header>
    
    <!-- First Photo Grid-->
    <div class="w3-row-padding">
      <div class="w3-third w3-container w3-margin-bottom">
        <!-- <img src="assets/img/courses/angular.jpeg" alt="Norway" style="width:100%" class="w3-hover-opacity"> _ -->
        <div class="w3-container w3-white">
          <p><b>Introduction to DevOps.</b></p>
          <p>Devops is not a tool or a team, it is the process or a methodology of using various tools to solve the problems between Developers and Operations team, hence the term “Dev-Ops”,It is the efficient development, deployment, testing and the operation of the highest quality software possible.</p>
        </div>
      </div>
      <div class="w3-third w3-container w3-margin-bottom">
          <!-- <img src="assets/img/courses/angular.jpeg" alt="Norway" style="width:100%" class="w3-hover-opacity"> _ -->
        <div class="w3-container w3-white">
          <p><b>Python Programming language.</b></p>
          <p>Python is a free and open source high level programming language which is interplated, which supports object oreinted, procedural oriented, functional and imperative oriented programming paradigm. python is ranked as the best programming language in 2019 and 2020 world wide.</p>
        </div>
      </div>
      <div class="w3-third w3-container">
          <!-- <img src="assets/img/courses/angular.jpeg" alt="Norway" style="width:100%" class="w3-hover-opacity"> _ -->
        <div class="w3-container w3-white">
          <p><b>Top 5 Programming language.</b></p>
          <p>Technology has made our lives easier with several forms of implementation that are seen in different professional fields. As most individuals began to efficiently 
            program computers and write efficient codes. Let look at the top 10 programming langugaes in the world 2020.</p>
        </div>
      </div>
    </div>
    
    <!-- Second Photo Grid-->
    <div class="w3-row-padding">
      <div class="w3-third w3-container w3-margin-bottom">
      <!-- <img src="assets/img/courses/angular.jpeg" alt="Norway" style="width:100%" class="w3-hover-opacity"> _ -->
        <div class="w3-container w3-white">
          <p><b>INTRODUCTION TO REACT.</b></p>
          <p>React JS is an open-source, component-based Javascript library, which is used to build UI specifically for single-page applications. It’s one of the most popular Javascript libraries used to build apps front-end right now. Facebook developers created ReactJS in 2011 and used first in the Facebook app, and until today it has a huge community supporting it and lots of resources to learn it.
              But, let’s start from the beginning as you may not know what is Javascript library and why do we use them.</p>
        </div>
      </div>
      <div class="w3-third w3-container w3-margin-bottom">
      <!-- <img src="assets/img/courses/angular.jpeg" alt="Norway" style="width:100%" class="w3-hover-opacity"> _ -->
        <div class="w3-container w3-white">
          <p><b>INTRODUCTION TO R language.</b></p>
          <p> R is a programming language and software environment for statistical analysis, graphical representation and reporting. It was created by Ross Ihaka and Robert Gentleman, hence naming the language R from the first letter of Developers, and is currently developed by the R Development Core Team. R is an Open source statistical programming language under GNU General Public License and is available for al operating systems, that is Linux, Windows and Mac.</p>
        </div>
      </div>
      <div class="w3-third w3-container">
          <!-- <img src="assets/img/courses/angular.jpeg" alt="Norway" style="width:100%" class="w3-hover-opacity"> _ -->
        <div class="w3-container w3-white">
          <p><b>INTRODUCTION TO WEB DEVELOPMENT.</b></p>
          <p>
          WORD WIDE WEB (www) is a collection of resources created by use of a language embedded of hypertext markup language and hosted in the internet. Internet refers to physical
           infrastructure of computers network which is global. Web technology is controlled by worldwide consortium. The web structure. The ability to code using HTML is essential for any web professional. Acquiring this skill should be the starting point for anyone who is learning how to create content for web pages. </p>
        </div>
      </div>
    </div>
  
    <!-- Pagination -->
    <div class="w3-center w3-padding-32">
      <div class="w3-bar">
        <a routerLink='' class="w3-bar-item w3-button w3-hover-black">«</a>
        <a routerLink='' class="w3-bar-item w3-black w3-button">1</a>
        <a routerLink='' class="w3-bar-item w3-button w3-hover-black">2</a>
      </div>
    </div>

  
  <!-- End page content -->
  </div>
</div>

<app-footer></app-footer>